<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page </title>
</head>
<body>
    <h1>This is my page 1 + 2</h1>
    <h3><%= "afsarali".toUpperCase() %></h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus debitis reiciendis, dolor aliquid porro totam maxime, consequuntur impedit nostrum officiis ea aperiam facilis nesciunt soluta accusamus corporis quidem distinctio deserunt!</p>
    <button>submit</button>
</body>
</html>